body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 0.9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.dashboard {
  margin: 0 10px;
}

.flex {
  display: flex;
}

.visualCard {
  padding: 10px;
  flex-shrink: 1;
  width: 200px;
}

.visualCard ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.producer {
  flex-grow: 1;
  display: flex;
}

.report {
  flex-shrink: 1;
  width: 250px;
}

.producer_filter {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.multiSelectDropdown {
  display: flex;
  flex-direction: column;
}

.multiSelectDropdown button {
  /* white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000; */
}

.producerFilter_row {
  width: 29%;
  margin: 0 2%;
}

.producerFilter_row + .producerFilter_row {
  margin-top: 4px;
}

.fui-Checkbox .fui-Checkbox__indicator {
  margin: 2px;
}

.fui-Checkbox .fui-Label {
  padding: 2px
}

.producerFilter_row .react-datepicker-wrapper + .react-datepicker-wrapper {
  margin-left: 4px
}

@media (max-width: 1280px) {
  .dashboard {
    width: 1280px;
    overflow: auto;
  }

  .producer {
    margin-right: 10px;
  }
  .producerFilter_row {
    width: auto;
    flex: 1;
  }
}